@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

body {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    background-color: #000;
    color: #fff;
    direction: rtl;
}

#game {
    display: inline-block;
    margin-top: 50px;
}


#grid {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #444;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.cell.revealed {
    background-color: #222;
}

button{
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}
a{
    position: fixed;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    bottom: 10px;
    right: 10px;
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog-content {
    background: #000000c2;
    box-shadow: 0px 0px 40px white;
    padding: 20px;
    border-radius: 17px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.dialog-content h2 {
    margin-top: 0;
}

.dialog-content p {
    margin: 20px 0;
}

.dialog-content button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}